.box {
  width: 1280px;
  height: 84px;
}

.box .rectangle {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #324e34;
}
/* Original CSS should be injected here */

.box {
  max-width: 1280px;
  height: 84px;
  margin: 0 auto;
}

.box .rectangle {
  position: fixed;
  width: 100%;
  height: 84px;
  top: 0;
  left: 0;
  background-color: #324e34;
  z-index: 1000;
}
